@model ASPNETLab9.Models.WeatherData

<div>
    
    <h3>Weather in @Model.City</h3>
    <table >
        <tr class="weather">
        <th>Temperature</th>
        <th>Weather</th>
        <th>Description</th>
        <th>Humidity</th>       
        <th>Wind Speed</th>
    </tr>

        <tr class="weather">
        <td>@Model.Temperature °C</td>
        <td>@Model.Weather</td>
        <td>@Model.WeatherDescription</td>        
        <td>@Model.Humidity%</td>
        <td>@Model.WindSpeed m/s </td>
      
    </tr>

 
    </table>
    
</div>